<div class="w-full h-16 p-2 text-xl font-[Orbitron] z-10 fixed top-0 bg-slate-800 flex items-center justify-between">
  <!-- Hamburger Menu Icon for Mobile -->
  <div class="block lg:hidden">
    <button id="hamburger-menu" class="text-white">
      <%= heroicon "bars-3", class: "w-12 h-12 text-white" %>
    </button>
  </div>

  <!-- Navigation Links (Hidden on Mobile) -->
  <ul class="flex justify-between w-full text-gray-200 tracking-widest px-24 hidden lg:flex">
    <% if current_admin %>
      <li><%= link_to "Admin Dashboard", admin_products_path, class: "bg-gray-200 font-sans p-2 w-fit rounded tracking-wide text-black" %></li>
    <% end %>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Music", links_path %></li>
    <li><%= link_to "Store", categories_path %></li>
    <li><%= link_to "Shows", shows_path %></li>
  </ul>

  <!-- Cart Icon (Always visible) -->
  <div id="cart_navbar">
    <%= link_to cart_path(@current_cart.secret_id) do %>
      <div class="relative flex items-center text-sm h-full w-20 text-white">
        <%= heroicon "shopping-cart", class: "w-12 h-12 text-white" %>
        <% if @current_cart && @current_cart.cart_items.any? %>
          <div class="flex items-center justify-center border border-white absolute h-4 w-4 p-3 top-0 right-8 rounded-full bg-red-800 text-white">
            <%= @current_cart.cart_items.count %>
          </div>
        <% end %>
        <p class="pt-4">Cart</p>
      </div>
    <% end %>
  </div>
</div>

<!-- Mobile Menu (Initially hidden) -->
<div id="mobile-menu" class="lg:hidden z-20 min-h-screen fixed top-16 left-0 w-full bg-slate-800 text-gray-200 flex items-start justify-center p-4 hidden">
  <ul class="space-y-4 py-8 text-center text-4xl">
    <% if current_admin %>
      <li><%= link_to "Admin Dashboard", admin_products_path, class: "bg-gray-200 font-sans p-2 w-fit rounded tracking-wide text-black" %></li>
    <% end %>
    <li><%= link_to "Home", "/" %></li>
    <li><%= link_to "Music", links_path %></li>
    <li><%= link_to "Store", categories_path %></li>
    <li><%= link_to "Shows", shows_path %></li>
  </ul>
</div>

<script>
  // Toggle the mobile menu visibility when the hamburger icon is clicked
  document.getElementById('hamburger-menu').addEventListener('click', function() {
    const mobileMenu = document.getElementById('mobile-menu');
    mobileMenu.classList.toggle('hidden');
  });
</script>
