<div class="" id="<%= dom_id show %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Venue:</strong>
    <%= show.venue %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= show.date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= show.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= show.image %>
  </p>
</div>
