<%= form_with(model: [:admin, admin_product], class: "contents") do |form| %>
  <% if admin_product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(admin_product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

      <ul class="list-disc ml-6">
        <% admin_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description, rows: 4, class: "block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: "block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full" %>
    <div class="flex gap-4 mt-2">  
    <% if admin_product.images.any? %>
      <% admin_product.images.each do |image| %>
        <%= image_tag image, class: "w-36 h-36 object-cover" %>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="flex items-center gap-8">  
    <div class="my-5">
      <%= form.label :price %>
      <%= form.text_field :price, class: "block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-2 flex flex-col">
        <%= form.label :category_id, "Category" %>
        <%= form.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', admin_product.category_id), { include_blank: true }, class: "block shadow rounded-md border bg-white outline-none text-black focus:outline-blue-600 px-3 py-2 mt-2" %>
    </div>

    <div class="my-5">
      <%= form.label :active %>
      <%= form.checkbox :active, class: "block shadow-sm rounded-md border outline-hidden mt-2 h-5 w-5" %>
    </div>
  </div>

  <% if (admin_product.category&.name == "T-Shirts") %>
    <div class="my-5">
      <%= form.label :size_options, "Size Options" %>
      <% ["S", "M", "L"].each do |size| %>
        <div>
          <%= form.check_box :size_options, { multiple: true }, size, nil %> <%= size %>
        </div>
      <% end %>
    </div>
  <% elsif (admin_product.category&.name == "Albums") %>
    <div class="my-5">
      <%= form.label :format_options, "Format Options" %>
      <% ["Vinyl", "Cassette", "Digital"].each do |format| %>
        <div>
          <%= form.check_box :format_options, { multiple: true }, format, nil %> <%= format %>
        </div>
      <% end %>
    </div>
  <% else %>
      <div>  </div>
  <% end %>

  

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
